.welcomeScreen {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url("C:\Users\USER\Desktop\miniproyectojhoni-copia\Frontend\images\bg-desktop-light.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 10px;
}

.messageWelcome {
  text-align: center;
  padding: 30px;
  order: 4;
}

.message1 {
  width: 100%;
  padding: 15px;
  background: transparent;
  font-size: 200%;
  font-weight: bold;
}

.frameImageWelcome {
  padding: 10px;
  max-width: 400px;
  border-image: 50%;
}

img {
  width: 90%;
  margin: auto;

}

.imagendewell {
  border-radius: 50%;
}

.imageWelcome {
  background-color: rgba(112, 50, 182, 0.562);
  border-radius: 60%;
  text-align: center;
  padding: 10px;

}

.enterButton {
  background-color: rgba(0, 0, 0, 0.466);
  margin-top: 25px;
  height: 50px;
  padding: 10px;
  color: rgba(255, 255, 255, 0.616);
  width: 100%;
  border: none;
  border-radius: 25px;
  font-size: 20px;
}

.enterButton:hover {
  background-color: rgba(252, 159, 255, 0.411);
  color: white;
  font-size: 25px;
}


#MainForm {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("C:/Users/USER/Desktop/miniproyectojhoni-copia/Frontend/images/bg-desktop-dark.jpg");
  background-size: 100% auto;
}

#titleForm {
  width: 540px;
  display: flex;
  justify-content: space-around;
  font-weight: bolder;
  font-size: 45px;
  color: #ffffff;
}

.userandSession {
  height: 40px;
  background-color: rgba(235, 208, 139, 0);
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Username {
  margin-right: 80px;
  font-weight: 40px;
  cursor: pointer;
  font-size: 10px;
}

.closeSession:hover {
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;

}

.closeSession {
  color: #ff9d9d;
  cursor: pointer;
  text-decoration: none;
  font-size: 10px;
}

#buttonForm {
  margin-top: 15px;
  display: flex;
  align-items: center;
  background-color: #494c6b00;
}

button {
  border: 0;
  height: 65px;
  border-radius: 10px;
  margin: 10px;
  background-color: #12131b75;
  color: rgb(190, 189, 189);
}

button:hover {
  color: rgb(255, 255, 255);
  background-color: #04061dc0;
}

input {
  background-color: rgb(223, 223, 223);
  border-radius: 10px;
  width: 100%;
  height: 60px;
  padding-left: 15px;
  border: 10px;
  font-size: 20px;
}

.task {
  font-size: 20px;
  padding: 10px;
  display: flex;
  overflow-wrap: break-word;
  background-color: rgba(30, 6, 87, 0.267);
  margin: 10px;
  border-radius: 5px;
  color: #ffffff9d;
}

.bookmarkCompleted {
  margin-right: 20px;
  font-weight: bolder;
  font-size: 20px;
  cursor: pointer;

}

.individualTask {
  width: 395px;
}

.editToDo:hover {
  color: rgb(255, 208, 0);
  cursor: pointer;
}

.deleteTodo:hover {
  color: red;
  cursor: pointer;
}

.bookmarkCompleted:hover {
  color: rgb(49, 197, 255);
  
}

#tasks {
  height: 50%;
  /* width: 1000px; */
  background-color: rgb(224, 224, 224);
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 23%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.726);
}

#listOfAllTasks {
  height: 91%;
  margin: 10px;
  background-color: #050020a2;
  border-radius: 5px;
  overflow: auto;
}

.deleteTodo {
  margin-left: auto;
  margin-right: 10px;
}

#ButtonsBottomFilters {
  display: flex;
}

#ButtonsBottomFilters div {
  display: flex;
  width: 200px;
  justify-content: space-evenly;
}

.TaskCount {
  cursor: pointer;
  color: #3a3a3a;
}

.deletecompleted:hover {
  color: #f37575;
}

.deletecompleted {
  cursor: pointer;
  color: #747474;
}

.filterButton {
  cursor: pointer;
  color: #747474;
}

.filterButton:hover {
  color: #f1f1f7 !important;
}

@media (max-width: 615px) {

  button {
    height: 45px;
  }

  #listOfAllTasks {
    height: 86%;
  }

  #MainForm #titleForm {
    width: 100%;
    font-size: 30px;
  }

  .userandSession {
    width: 80%;
  }

  #tasks {
    width: 80%;
    top: 15.5%;
  }

  /* #ButtonsBottomFilters {
    justify-content: space-between;
  } */

  .TaskCount {
    font-size: 12px;
  }

  .deletecompleted {
    font-size: 12px;
    
  }

  .task {
    font-size: 12px;
    
  }

  #buttongroupbottomA {
    font-size: 12px;
    display: flex;
    overflow-wrap: break-word;
    position: absolute;
    bottom: -45px;
    width: 200%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    border-radius: 5px;
    background-color: #000000b7;
  }

  .userandSession {
    height: 20px;
    background-color: rgba(235, 208, 139, 0);
    color: rgb(255, 255, 255);
    margin-left: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Username {
    margin-right: 20px;
    font-weight: 20px;
    cursor: pointer;
    font-size: 5px;
  }

  #MainForm {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("C:\Users\USER\Desktop\miniproyectojhoni-copia\Frontend\images\bg-mobile-dark.jpg");
    background-size: 100% auto;
  }

  #buttonForm {
    margin-top: 0px;
    display: flex;
    align-items: center;
    background-color: #494c6b00;
  }

  input {
    background-color: rgb(214, 214, 214);
    border-radius: 5px;
    width: 100%;
    height: 40px;
    padding-left: 15px;
    border: 10px;
    font-size: 15px;
  }
}